/* Základ Webové Stránky */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: url(/IMG/FORMS_BACKGROUND.png) no-repeat;
    background-size: cover;
    background-position: center;
}

/* Desing Navbar Navigátoru */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}

.logo {
    width: 150px;
    height: 150px;
}

.navbar a {
    color: black;
    font-size: 28px;
    text-decoration: none;
    margin-left: 50px;
}

.navbar a:hover {
    color: white; 
}

/* Desing footeru */

.footer {
    position: fixed;
    width: 100%;
    height: 5rem;
    text-align: center;
    border: 2px solid black;
    bottom: 0;
    backdrop-filter: blur(8px);
}

.footer-text {
    color: black;
    font-size: 25px;
    margin: 1.5rem;
    text-decoration: none;
}

/* Desing Showcaseu */

.showcase {
    background: #333 url(../IMG/FORMS_BACKGROUND.png) no-repeat center center/cover;
    height: 100vh;
    color: black;
}

.showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: black;
    background: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: white;
}

.btn-dark {
    background: #333;
    color: white;
}
